
<div class="UMT-usrProfile" *ngFor="let item of items">
  <p class="UMT-header">Absinthe - User Profile</p>
  
  <div class="UMT-formfield"><label>Emp. Id</label><span class="form-control">{{item.emp_id}}</span></div>
  <div class="UMT-formfield"><label>Firstname</label><span class="form-control">{{item.fname}}</span></div>
  <div class="UMT-formfield"><label>Lastname</label><span class="form-control">{{item.lname}}</span></div>
  <div class="UMT-formfield"><label>Gender</label><span class="form-control">{{item.gender}}</span></div>
  <div class="UMT-formfield"><label>DOB</label><span class="form-control">{{item.dob}}</span></div>
  <div class="UMT-formfield"><label>DOJ</label><span class="form-control">{{item.dob}}</span></div>
  <div class="UMT-formfield"><label>Email</label><span class="form-control">{{item.email_id}}</span></div>
  <div class="UMT-formfield"><label>Designation</label><span class="form-control">{{item.designation}}</span></div>
  <div class="UMT-formfield"><label>Team</label><span class="form-control">{{item.team}}</span></div>
  <div class="UMT-formfield"><label>Dept</label><span class="form-control">{{item.dept}}</span></div>
  <div class="UMT-formfield"><label>Division</label><span class="form-control">{{item.division}}</span></div>
  <div class="UMT-formfield"><label>Contact No.</label><span class="form-control">{{item.contact_no}}</span></div>
  <div class="UMT-formfield"><label>Emg. Contact No.</label><span class="form-control">{{item.emergency_contact_no}}</span></div>
  <div class="UMT-formfield"><label>Role</label><span class="form-control">{{item.role}}</span></div>
  <div class="UMT-formfield"><label>Profile Pic</label><span class="form-control">{{item.profile_pic}}</span></div>  
  <div class="UMT-formfield"><label>Shift Type</label><span class="form-control">{{item.shift_type}}</span></div>

<!--  <div class="UMT-formfield"><label>User Id</label><span class="form-control">{{item.UID}}</span></div>
  <div class="UMT-formfield"><label>Emp. Id</label><span class="form-control">{{item.EMP_ID}}</span></div>
  <div class="UMT-formfield"><label>Password</label><span class="form-control">{{item.PASSWORD}}</span></div>
  <div class="UMT-formfield"><label>Firstname</label><span class="form-control">{{item.FNAME}}</span></div>
  <div class="UMT-formfield"><label>Lastname</label><span class="form-control">{{item.LNAME}}</span></div>
  <div class="UMT-formfield"><label>Gender</label><span class="form-control">{{item.GENDER}}</span></div>
  <div class="UMT-formfield"><label>DOB</label><span class="form-control">{{item.DOB}}</span></div>
  <div class="UMT-formfield"><label>DOJ</label><span class="form-control">{{item.DOJ}}</span></div>
  <div class="UMT-formfield"><label>Email</label><span class="form-control">{{item.EMAIL_ID}}</span></div>
  <div class="UMT-formfield"><label>Designation</label><span class="form-control">{{item.DESIGNATION}}</span></div>
  <div class="UMT-formfield"><label>Team</label><span class="form-control">{{item.TEAM}}</span></div>
  <div class="UMT-formfield"><label>Dept</label><span class="form-control">{{item.DEPT}}</span></div>
  <div class="UMT-formfield"><label>Division</label><span class="form-control">{{item.DIVISION}}</span></div>
  <div class="UMT-formfield"><label>Contact No.</label><span class="form-control">{{item.CONTACT_NO}}</span></div>
  <div class="UMT-formfield"><label>Emg. Contact No.</label><span class="form-control">{{item.EMERGENCY_CONTACT_NO}}</span></div>
  <div class="UMT-formfield"><label>Role</label><span class="form-control">{{item.ROLE}}</span></div>
  <div class="UMT-formfield"><label>Last Seen</label><span class="form-control">{{item.LAST_SEEN}}</span></div>
  <div class="UMT-formfield"><label>Token Id</label><span class="form-control">{{item.TOKEN_ID}}</span></div>
  <div class="UMT-formfield"><label>Shift Type</label><span class="form-control">{{item.SHIFT_TYPE}}</span></div>-->
</div>
